<!--The content below is only a placeholder and can be replaced.-->
<ul>


  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>

  <hr/>

  <ng-container *ngFor="let lugar of lugares; let i = index">
    <li [ngStyle]="{color: (lugar.active) ? 'black' : 'red' }" [ngClass]="{numero_par: (i + 1) % 2 !== 0}" >{{ lugar.nombre }}</li>
  </ng-container>

  <hr/>

  <ng-container *ngFor="let persona of personas">
    <li *ngIf="persona.edad > 17" >{{ persona.nombre }}</li>
  </ng-container>



</ul>
